---
- hosts: all
  become: false
  tasks:
    - name: get vault info
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Service
        name: vault-ui
        namespace: vault
      register: vault_info

    - name: set vault variables
      ansible.builtin.set_fact:
        vault_addr: "http://vault.lab.test"
        vault_token: "{{ (lookup('file', '../../temp/vault.txt')).split('\n')[1] }}"

    - name: create cert-manager namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: cert-manager
        state: present

    - name: create vault-issuer service account
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: ServiceAccount
          metadata:
            name: vault-issuer
            namespace: cert-manager

    - name: create vault-issuer secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: vault-issuer-token
            namespace: cert-manager
            annotations:
              kubernetes.io/service-account.name: "vault-issuer"
          type: kubernetes.io/service-account-token
          data: {}

    - name: create cert-manager role
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: Role
          metadata:
            name: vault-issuer
            namespace: cert-manager
          rules:
            - apiGroups: [""]
              resources: ["serviceaccounts/token"]
              resourceNames: ["vault-issuer"]
              verbs: ["create"]

    - name: create role binding
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: RoleBinding
          metadata:
            name: vault-issuer
            namespace: cert-manager
          subjects:
            - kind: ServiceAccount
              name: cert-manager
              namespace: cert-manager
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: Role
            name: vault-issuer

    - name: add cert-manager repository to helm
      kubernetes.core.helm_repository:
        name: jetstack
        repo_url: https://charts.jetstack.io

    - name: install cert-manager via helm
      kubernetes.core.helm:
        chart_ref: jetstack/cert-manager
        create_namespace: true
        name: cert-manager
        release_namespace: cert-manager
        state: present
        update_repo_cache: true
        values:
          installCRDs: true
      delay: 10
      register: helm_install
      retries: 6
      until: helm_install is success

    - name: create cert-manager clusterissuer
      kubernetes.core.k8s:
        definition:
          apiVersion: cert-manager.io/v1
          kind: ClusterIssuer
          metadata:
            name: vault-issuer
          spec:
            vault:
              path: pki_int/sign/lab-test
              server: "{{ vault_addr }}"
              auth:
                kubernetes:
                  role: kubernetes
                  mountPath: /v1/auth/kubernetes
                  serviceAccountRef:
                    name: vault-issuer

    - name: create test certificate
      kubernetes.core.k8s:
        definition:
          apiVersion: cert-manager.io/v1
          kind: Certificate
          metadata:
            name: test-lab-test
            namespace: default
          spec:
            secretName: test-lab-test
            duration: 2160h
            renewBefore: 360h
            commonName: test.lab.test
            subject:
              organizations:
                - lab
            isCA: false
            privateKey:
              algorithm: RSA
              encoding: PKCS1
              size: 2048
            usages:
              - server auth
              - client auth
            dnsNames:
              - test.lab.test
            issuerRef:
              name: vault-issuer
              kind: ClusterIssuer

    - name: wait for certificate to be issued
      kubernetes.core.k8s_info:
        kind: Secret
        name: test-lab-test
        namespace: default
        label_selectors:
          - "cert-manager.io/next-private-key = true"
          - "controller.cert-manager.io/fao = true"
      delay: 10
      register: certificate_secret
      retries: 6
      until: certificate_secret.resources[0].data['tls.crt'] is defined
