---
- become: false
  gather_facts: false
  hosts: all
  tasks:
    - name: create jenkins namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: jenkins
        state: present
      register: jenkins_namespace

    - name: add jenkins repository to helm
      kubernetes.core.helm_repository:
        name: jenkins
        repo_url: https://charts.jenkins.io

    - name: create jenkins service account
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: ServiceAccount
          metadata:
            name: jenkins
            namespace: jenkins

    - name: create jenkins cluster role
      kubernetes.core.k8s:
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          metadata:
            annotations:
              rbac.authorization.kubernetes.io/autoupdate: "true"
            labels:
              kubernetes.io/bootstrapping: rbac-defaults
            name: jenkins
          rules:
            - apiGroups:
                - "*"
              resources:
                - statefulsets
                - services
                - replicationcontrollers
                - replicasets
                - podtemplates
                - podsecuritypolicies
                - pods
                - pods/log
                - pods/exec
                - podpreset
                - poddisruptionbudget
                - persistentvolumes
                - persistentvolumeclaims
                - jobs
                - endpoints
                - deployments
                - deployments/scale
                - daemonsets
                - cronjobs
                - configmaps
                - namespaces
                - events
                - secrets
              verbs:
                - create
                - get
                - watch
                - delete
                - list
                - patch
                - update
            - apiGroups:
                - ""
              resources:
                - nodes
              verbs:
                - get
                - list
                - watch
                - update

    - name: create jenkins cluster role binding
      kubernetes.core.k8s:
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRoleBinding
          metadata:
            annotations:
              rbac.authorization.kubernetes.io/autoupdate: "true"
            labels:
              kubernetes.io/bootstrapping: rbac-defaults
            name: jenkins
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: jenkins
          subjects:
            - apiGroup: rbac.authorization.k8s.io
              kind: Group
              name: system:serviceaccounts:jenkins

    - name: install jenkins via helm
      kubernetes.core.helm:
        chart_ref: jenkins/jenkins
        create_namespace: true
        release_name: jenkins
        release_namespace: jenkins
        release_values: "{{ lookup('file', 'files/jenkins.yml') | from_yaml }}"

    - name: register dns and output info
      block:
        - name: get vault info
          kubernetes.core.k8s_info:
            api_version: v1
            kind: Service
            name: jenkins
            namespace: jenkins
          register: jenkins_info

        - name: generate secure update key
          ansible.builtin.set_fact:
            dnskey_secret: "{{ 'vagrant' | password_hash(hashtype='sha256',salt='vagrant') | b64encode }}"

        - name: register dns record
          community.general.nsupdate:
            key_algorithm: "hmac-sha256"
            key_name: "dnskey"
            key_secret: "{{ dnskey_secret }}"
            record: jenkins
            server: 10.0.3.40
            value: "{{ (jenkins_info.resources[0].status.loadBalancer.ingress[0].ip | string) }}"
            zone: lab.test
