---
- hosts: all
  become: false
  tasks:
    - name: create namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: consul
        state: present
      register: namespace

    - name: add hashicorp repository to helm
      kubernetes.core.helm_repository:
        name: hashicorp
        repo_url: https://helm.releases.hashicorp.com

    - name: install hashicorp consul via helm
      kubernetes.core.helm:
        chart_ref: hashicorp/consul
        name: consul
        release_namespace: "{{ namespace.result.metadata.name }}"
        state: present
        update_repo_cache: true
        values:
          server:
            storage: 2Gi
            storageClass: nfs-client
      delay: 10
      register: helm_install
      retries: 6
      until: helm_install is success

    - name: enable loadbalancer on consul-ui service
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: consul-consul-ui
            namespace: "{{ namespace.result.metadata.name }}"
          spec:
            type: LoadBalancer

    - name: get consul info
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Service
        name: consul
        namespace: consul
      register: consul_info

    - name: output consul info
      block:
        - name: get consul info
          kubernetes.core.k8s_info:
            api_version: v1
            kind: Service
            name: consul-consul-ui
            namespace: "{{ namespace.result.metadata.name }}"
          register: consul_info

        - name: generate secure update key
          ansible.builtin.set_fact:
            dnskey_secret: "{{ 'vagrant' | password_hash(hashtype='sha256',salt='vagrant') | b64encode }}"

        - name: register dns record
          community.general.nsupdate:
            key_algorithm: "hmac-sha256"
            key_name: "dnskey"
            key_secret: "{{ dnskey_secret }}"
            record: consul
            server: 10.0.3.40
            value: "{{ consul_info.resources[0].status.loadBalancer.ingress[0].ip | string }}"
            zone: lab.test

        - name: output consul url
          ansible.builtin.debug:
            msg: "Consul URL: {{ 'http://consul.lab.test' + ':' + (consul_info.resources[0].spec.ports[0].nodePort | string) }}"

        - name: create consul info file
          ansible.builtin.copy:
            content: |
              {{ 'https://' + (ansible_facts.enp0s8.ipv4.address | string) + ':' + (consul_info.resources[0].spec.ports[0].nodePort | string) }}
            dest: /vagrant/k8s/temp/consul.txt
