---
- hosts: all
  become: false

  tasks:
    - name: create grafana namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: grafana
        state: present
      become: false
      register: grafana_namespace

    - name: add grafana repository to helm
      kubernetes.core.helm_repository:
        name: grafana
        repo_url: https://grafana.github.io/helm-charts

    - name: install grafana via helm
      kubernetes.core.helm:
        chart_ref: grafana/grafana-agent-operator
        create_namespace: true
        name: grafana-agent-operator
        release_namespace: grafana
        state: present
        update_repo_cache: true
      delay: 10
      register: helm_install
      retries: 6
      until: helm_install is success

    - name: apply manifest
      kubernetes.core.k8s:
        definition: "{{ lookup('file', 'files/manifest.yml') | from_yaml_all }}"
        state: present
