---
- hosts: all
  become: true

  tasks:
    - name: update all packages
      ansible.builtin.apt:
        autoclean: true
        autoremove: true
        name: "*"
        state: latest

    - name: install prerequisites
      ansible.builtin.apt:
        name:
          - curl
          - pip
        state: present
        update_cache: true

    - name: configure dns
      block:
        # YAML indentation in blockinfile is broken in current Ansible version
        - name: create netplan file
          ansible.builtin.lineinfile:
            line: "{{ item }}"
            dest: /etc/netplan/50-vagrant.yaml
          loop:
            - "      nameservers:"
            - "        addresses:"
            - "          - 10.0.3.40"
            - "      routes:"
            - "        - to: default"
            - "          via: 10.0.3.1"
            - ""

        - name: apply netplan file
          ansible.builtin.shell: netplan apply

        - name: install dnspython and passlib
          ansible.builtin.pip:
            name:
              - dnspython
              - passlib

        - name: generate secure update key
          ansible.builtin.set_fact:
            dnskey_secret: "{{ 'vagrant' | password_hash(hashtype='sha256',salt='vagrant') | b64encode }}"

        - name: register dns record
          community.general.nsupdate:
            key_algorithm: "hmac-sha256"
            key_name: "dnskey"
            key_secret: "{{ dnskey_secret }}"
            record: "{{ ansible_hostname }}"
            server: 10.0.3.40
            value: "{{ ansible_facts.enp0s8.ipv4.address }}"
            zone: lab.test

    - name: install python kubernetes module
      ansible.builtin.pip:
        name: kubernetes
        state: present

    - name: install containerd
      block:
        - name: add apt signing key for docker repository
          ansible.builtin.apt_key:
            url: https://download.docker.com/linux/ubuntu/gpg
            state: present

        - name: add apt repository for docker
          ansible.builtin.apt_repository:
            filename: docker
            repo: deb https://download.docker.com/linux/ubuntu jammy stable
            state: present

        - name: install containerd
          ansible.builtin.apt:
            name: containerd.io
            state: present
            update_cache: true

        - name: configure containerd
          ansible.builtin.shell: containerd config default | sudo tee /etc/containerd/config.toml

        - name: set containerd to use systemd cgroup
          ansible.builtin.lineinfile:
            path: /etc/containerd/config.toml
            regexp: '\s+SystemdCgroup\s=\sfalse'
            line: "    SystemdCgroup = true"

        - name: restart containerd
          ansible.builtin.service:
            name: containerd
            state: restarted

    - name: install kubernetes
      block:
        - name: create kubelet config directory
          ansible.builtin.file:
            path: /var/lib/kubelet
            state: directory

        - name: add hosts file entries
          ansible.builtin.lineinfile:
            create: true
            line: 'KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock"'
            path: /var/lib/kubelet/kubeadm-flags.env

        - name: add apt signing key for kubernetes repository
          ansible.builtin.apt_key:
            state: present
            url: https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key

        - name: add apt repository for kubernetes
          ansible.builtin.apt_repository:
            filename: docker
            repo: deb https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /
            state: present

        - name: install kubernetes
          ansible.builtin.apt:
            name:
              - kubeadm
              - kubectl
              - kubelet
            state: present
            update_cache: true

        - name: hold kubernetes version
          ansible.builtin.shell: apt-mark hold kubeadm kubelet kubectl

    - name: disable swap
      block:
        - name: remove swapfile from /etc/fstab
          ansible.posix.mount:
            fstype: swap
            name: "{{ item }}"
            state: absent
          loop:
            - none
            - swap

        - name: disable swap
          ansible.builtin.command: swapoff -a

    - name: configure kernel modules
      block:
        - name: add kernel modules
          community.general.modprobe:
            name: "{{ item }}"
            state: present
          loop:
            - overlay
            - br_netfilter

        - name: set sysctl parameters
          ansible.posix.sysctl:
            name: "{{ item }}"
            reload: true
            state: present
            sysctl_file: /etc/sysctl.d/kubernetes.conf
            value: "1"
          loop:
            - net.bridge.bridge-nf-call-ip6tables
            - net.bridge.bridge-nf-call-iptables
            - net.ipv4.ip_forward
