---
- become: false
  hosts: "main"

  tasks:
    - name: "playbook info"
      ansible.builtin.debug:
        msg: "running {{ playbook_dir }}/main.yml on {{ inventory_hostname }}"

    - name: "cert manager : get vault info"
      kubernetes.core.k8s_info:
        api_version: "v1"
        kind: "Service"
        name: "vault-ui"
        namespace: "vault"
      register: vault_info

    - name: "cert manager : set facts"
      ansible.builtin.set_fact:
        vault_addr: "http://vault.{{ dns_zone }}"
        vault_token: "{{ (lookup('file', '../../temp/vault.json') | from_json).token }}"

    - name: "cert manager : create namespace"
      kubernetes.core.k8s:
        api_version: "v1"
        kind: "Namespace"
        name: "cert-manager"
        state: "present"

    - name: "cert manager : create service account"
      kubernetes.core.k8s:
        definition:
          apiVersion: "v1"
          kind: "ServiceAccount"
          metadata:
            name: "vault-issuer"
            namespace: "cert-manager"
        state: "present"

    - name: "cert manager : create secret"
      kubernetes.core.k8s:
        definition:
          apiVersion: "v1"
          kind: "Secret"
          metadata:
            name: "vault-issuer-token"
            namespace: "cert-manager"
            annotations:
              kubernetes.io/service-account.name: "vault-issuer"
          type: "kubernetes.io/service-account-token"
          data: {}
        state: "present"

    - name: "cert manager : create role"
      kubernetes.core.k8s:
        definition:
          apiVersion: "rbac.authorization.k8s.io/v1"
          kind: "Role"
          metadata:
            name: "vault-issuer"
            namespace: "cert-manager"
          rules:
            - apiGroups: [""]
              resources: ["serviceaccounts/token"]
              resourceNames: ["vault-issuer"]
              verbs: ["create"]
        state: "present"

    - name: "cert manager : create role binding"
      kubernetes.core.k8s:
        definition:
          apiVersion: "rbac.authorization.k8s.io/v1"
          kind: "RoleBinding"
          metadata:
            name: "vault-issuer"
            namespace: "cert-manager"
          subjects:
            - kind: "ServiceAccount"
              name: "cert-manager"
              namespace: "cert-manager"
          roleRef:
            apiGroup: "rbac.authorization.k8s.io"
            kind: "Role"
            name: "vault-issuer"
        state: "present"

    - name: "cert manager : add repository"
      kubernetes.core.helm_repository:
        name: "jetstack"
        repo_url: "https://charts.jetstack.io"

    - name: "cert manager : install"
      kubernetes.core.helm:
        chart_ref: "jetstack/cert-manager"
        create_namespace: true
        name: "cert-manager"
        release_namespace: "cert-manager"
        state: "present"
        update_repo_cache: true
        values:
          installCRDs: true
      delay: 10
      register: helm_install
      retries: 6
      until: helm_install is success

    - name: "cert manager : create cluster issuer"
      kubernetes.core.k8s:
        definition:
          apiVersion: "cert-manager.io/v1"
          kind: "ClusterIssuer"
          metadata:
            name: "vault-issuer"
          spec:
            vault:
              path: "pki_int/sign/{{ dns_zone | replace('.', '-') }}"
              server: "{{ vault_addr }}"
              auth:
                kubernetes:
                  role: "kubernetes"
                  mountPath: "/v1/auth/kubernetes"
                  serviceAccountRef:
                    name: "vault-issuer"

    - name: "cert manager : create test certificate"
      kubernetes.core.k8s:
        definition:
          apiVersion: "cert-manager.io/v1"
          kind: "Certificate"
          metadata:
            name: "test"
            namespace: "default"
          spec:
            secretName: "test"
            duration: "2160h"
            renewBefore: "360h"
            commonName: "test.{{ dns_zone }}"
            subject:
              organizations:
                - "lab"
            isCA: false
            privateKey:
              algorithm: "RSA"
              encoding: "PKCS1"
              size: 2048
            usages:
              - "server auth"
              - "client auth"
            dnsNames:
              - "test.{{ dns_zone }}"
            issuerRef:
              name: "vault-issuer"
              kind: "ClusterIssuer"

    - name: "cert manager : wait for test certificate"
      kubernetes.core.k8s_info:
        kind: "Secret"
        name: "test"
        namespace: "default"
        label_selectors:
          - "cert-manager.io/next-private-key = true"
          - "controller.cert-manager.io/fao = true"
      delay: 10
      register: certificate_secret
      retries: 6
      until: certificate_secret.resources[0].data['tls.crt'] is defined
